body {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: white;
  height: 167.7vw; }

h1 {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 300 !important;
  font-size: 4rem !important;
  opacity: 0.8; }

.content-item {
  margin-left: 16vw;
  margin-top: 3rem; }
  .content-item :last-child {
    padding-bottom: 0px; }
  .content-item :first-child .content-img {
    background-image: url("../img/5.jpeg");
    height: 20vw; }
  .content-item :nth-child(2) .content-img {
    height: 15vw;
    background-image: url("../img/6.jpg"); }
  .content-item :last-child .content-img {
    height: 20vw;
    background-image: url("../img/7.jpg"); }
  .content-item :nth-child(2) {
    height: 15vw; }
  .content-item li {
    height: 20vw;
    width: 75%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1rem gray; }
    .content-item li .content-img {
      width: 15vw;
      background-size: cover; }
    .content-item li p {
      margin: 1rem;
      font-size: 2rem;
      width: 68%; }
      .content-item li p span {
        font-size: 3rem;
        font-family: 'Source Sans Pro', sans-serif; }

.content {
  height: 68.5vw; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url("../img/4.jpg");
  background-size: 100% auto;
  height: 50vw;
  border-radius: 0px 75% 75% 0px; }
  .header h1 {
    display: block;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    color: white;
    letter-spacing: 0.1vw; }
  .header ul {
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #4e2846;
    padding-top: 1rem; }
    .header ul li {
      display: flex;
      align-items: center;
      text-align: center;
      width: 3rem;
      margin: 1rem; }
      .header ul li a {
        text-decoration: none;
        color: #4e2846; }

.header-lorem {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center; }

.header-link {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8%; }

.learn-more {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: 7rem;
  height: 2.5rem;
  border: solid white 1px; }
  .learn-more a {
    display: block;
    margin-top: 0.7rem;
    text-decoration: none;
    color: white; }
    .learn-more a:hover {
      text-decoration: none; }

.button-inner {
  display: flex;
  justify-content: center;
  justify-items: center;
  display: block;
  width: 100%;
  text-align: center;
  display: block;
  width: 100%; }

#find-yours {
  margin-left: 25%;
  margin-top: -7vh;
  width: 50%;
  height: 25vh;
  background-color: #9f86a2;
  color: whitesmoke;
  font-size: 3rem; }
  #find-yours h3 {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 5rem;
    padding-top: 1rem; }

#search-line {
  display: flex;
  justify-content: space-around; }
  #search-line input {
    background-color: transparent; }

.your-reviews {
  position: relative;
  height: 25vh;
  margin-left: 20vh;
  display: block;
  width: 100%;
  text-align: center;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center; }
  .your-reviews .review-pad {
    width: 82%;
    background-color: #8d6f79; }
  .your-reviews .reviews {
    display: flex;
    flex-direction: row; }
    .your-reviews .reviews img {
      width: 7vw;
      height: 7vw; }
    .your-reviews .reviews .review {
      display: flex;
      flex-direction: row; }

footer {
  display: block;
  width: 100%;
  height: 20vh;
  font-size: 2vh;
  color: white;
  background-color: #5d3d85;
  position: fixed;
  margin-bottom: 0;
  bottom: 0px;
  left: 0px;
  margin-left: 0;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 100vw; }
  footer :first-child {
    width: 33%; }
  footer :nth-child(2) {
    width: 25%; }
  footer :nth-child(3) {
    width: 15%; }
  footer :last-child {
    width: 27%; }
  footer ul {
    list-style: none;
    margin-top: 0rem; }
    footer ul li a {
      font-size: 0.75rem;
      text-decoration: none; }
  footer h5 {
    margin-top: 0.5rem;
    color: #b965f3; }

.icon-links {
  width: 100%;
  z-index: 15;
  display: flex;
  flex-direction: row;
  margin-left: -2em; }
  .icon-links li {
    display: block;
    margin: -0.5em 1em 0 0;
    height: 2vw;
    width: 2vw; }
    .icon-links li img {
      height: 2vw;
      width: 2vw; }

#copy-right {
  font-size: 1em;
  width: 30vw; }

.footer-first {
  margin-left: 1rem; }

.were-to-go-list, .info-list {
  margin-top: -1rem;
  margin-left: -2rem; }

/*# sourceMappingURL=style2.css.map */
