:root {
    --color_1: #fff;
    --color_2: #C62C45;
    --font_family: ‘Open Sans’, ‘Popper’.
}

body {
    margin: 0px;
    padding: 0px;
    border: var(--color_2);
}
/* 
.mask {
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: auto;
} */

nav * {
    z-index: 100;
    /* position: absolute; */
}

.bg-image {
    position: absolute;
    z-index: -50;
}