:root {

    --the_font: system-ui, sans-serif;
    --text_font_color: #000;
    --table_border_color: #e2ba7b;
    --selected_text_color: #65aa44;
    --footer_color: #f5f5f5;
    --shadow_color: #D3D3D3;
    --news_date_color: #808080;

}

/* On screens that are 992px wide or less, go from four columns to two columns */
/* display-view */
/* @media screen and (max-width: 992px) {
    
} */
  
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {

body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 471.4vw;
    display: flex;
    flex-direction: column;
    font-family: var(--the_font);
    /* justify-content: space-between; */
    /* font-family: 'Montserrat'; */
}

header {
    display: block;
    height: 72vw;
    width: 100%;
    /* background-size:contain; */
}

.header-bg-image {
    position: absolute;
    /* height: 100%; */
    opacity: .8;
    z-index: -5;
    height: 70vw;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5vw;
    /* margin-left: 3.5vw; */
    /* margin-right: 3.5vw; */
    flex-wrap: wrap;
}

nav a {
    width: 33.3vw;
    font-size: 3.27vw;
    text-align: center;
    margin-bottom: 3.5vw;
}

.header_text,
.header_nav {
    width: 99.9vw;
    position: absolute;
    z-index: 100;

}

.header_text {
    width: 94vw;
    /* height: 500px; */
    margin-top: 29.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
    font-size: 3.27vw;
    text-align: center;
    line-height: 1.33;
    color: var(--news_date_color);
}

.learn_more {
    display: block;
    height: 7.2vw;
    margin-top: 56.2vw;
    margin-left: 37.7vw;
    width: 24vw;
    text-align: center;
    border-color: var(--selected_text_color);
border-style: solid;
border-width: 0px 2px 0px 2px;
font-size: 2.75vw;

}

.learn_more a {
    display: inline-block;
    margin-top: 1.5vw;
}

footer {
    background-color: var(--footer_color);
    display: flex;
    flex-direction: column;
    height: 86.8vw;
    position: absolute;
    margin-top: 384.8vw;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 314.5vw;
}

main p {
    font-size: 2.65vw;
}

.green_span {
    font-size: 3.5vw;
}

.list_no_marker {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: bold;
    margin-left: -5vw;
    flex-wrap: wrap;
}

main {
    width: 90vw;
    margin-left: 5vw;
    /* margin-right: 5vw; */
    
}

.span_h2 {
    height: 3.5vw;
    font-weight: 500;
    font-size: 3.5vw;
    display: inline-block;
    margin-left: 1.5vw;
    margin-top: -1vw;
}

.list_no_marker li {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.2vw;
}

.li_text_up {
    margin-top: 2vw;
    margin-left: 8.5vw;
    font-size: 2.75vw;
}

li img {
    width: 6.5vw;
}

.price_table {
    display: none;
}


.ul_orange_dot li {
    font-size: 2.6vw;
    font-weight: 300;
    color: var(--news_date_color);
  }

  .ul_orange_dot li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--table_border_color); /* Change the color */
/* font-weight: bold; If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  #news_last {
    height: 19vw;
}

#news_last img {
    height: auto;
}

.news {
    height: 17.1vw;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1vw var(--shadow_color);
    /* margin-top: 1.7vw; */
    /* margin-bottom: 1.7vw; */
    /* padding-top: 1.7vw;
    padding-bottom: 1.7vw; */
    margin-top: -1vw;

}

footer div {
    font-size: 2.5vw;
    color: var(--news_date_color);
    display: flex;
    flex-direction: row;
    margin: 0.5vw 5vw 0 2.5vw;
}

.contacts img {
    height: 5vw;
    width: auto;
    margin: 1vw;
    /* object-fit: contain; */

}

#mail_icon {
    width: 5vw;
    height: 4vw;
    margin-top: 2vw;
}

.string_left {
    color: #000;
    font-size: 2.75vw;
    font-weight: 900;
    width: 23vw;
}


.h2_container {
    height: 5.2vw;
    border-color: var(--selected_text_color);
    border-style: solid;
    border-width: 0px 0px 2px 12px;
}


.news p {
    font-size: 2.5vw;
}

.news img {
      width: 15.1vw;
      height: 15.1vw;
      margin: 1vw;
  }

.news_text {
      display: block;
      margin-top: -2vw;
      margin-left: 0.2vw;
      position: static;
}


}



@media screen and (min-width: 769px) and (max-width: 992px) {

body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 385vw;
    display: flex;
    flex-direction: column;
    font-family: var(--the_font);
    /* justify-content: space-between; */
    /* font-family: 'Montserrat'; */
    /* overflow: hidden; */
}

header {
    display: block;
    height: 61.4vw;
    width: 100%;
    /* background-size:contain; */
}

.header-bg-image {
    position: absolute;
    /* height: 100%; */
    opacity: .8;
    z-index: -5;
    height: 60vw;
}

nav {
    width: 76vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.75vw;
    margin-left: 24.5vw;
    margin-right: 3vw;
}

nav a {
    width: 13.1vw;
    font-size: 2.2vw;
    text-align: center;
    font-weight: 300;
    /* margin-bottom: 3.5vw; */
}

.header_text,
.header_nav {
    width: 99.9vw;
    position: absolute;
    z-index: 100;

}

.header_text {
    width: 55.5vw;
    /* height: 500px; */
    margin-top: 15vw;
    margin-left: 40vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    /* text-align: center; */
    line-height: 1.33;
    color: var(--news_date_color);
}

.learn_more {
    display: block;
    height: 4.3vw;
    margin-top: 49.3vw;
    margin-left: 37.7vw;
    width: 16.75vw;
    text-align: center;
    border-color: var(--selected_text_color);
border-style: solid;
border-width: 0px 2px 0px 2px;
font-size: 2.75vw;

}

.learn_more {
    margin-left: 40vw;
}

.learn_more a {
    display: inline-block;
    margin-top: 1.5vw;
    font-size: 1.4vw;
}

footer {
    background-color: var(--footer_color);
    display: flex;
    flex-direction: column;
    height: 62.4vw;
    width: 100%;
    position: absolute;
    margin-top: 323vw;
    justify-content: space-between;
}

/* .main {
    display: flex;
    justify-content: space-between;
    height: 314.5vw;
} */

main {
    width: 87.5vw;
    margin-left: 5vw;
    /* margin-left: 5vw; */
    
}


.company_groups {
    display: flex;
    flex-direction: row;
}

.company_groups_group p {
    font-size: 1.75vw;
    line-height: 1.4;
    width: 27vw;
    margin-right: 4vw;
}

.main_p {
    font-size: 1.5vw;
    /* line-height: 1.4; */
    /* color: var(--news_date_color); */
}

.break_line_tag {
    height: 5vw;
}

#diablo_p {
    font-size: 1.5vw;
}

#diablo_p_2 {
    font-size: 1.5vw;
}

#diablo_p_3 {
    font-size: 1.5vw;
}

.green_span {
    font-size: 3.25vw;
}

.list_no_marker {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    /* margin-left: -5vw; */
    flex-wrap: wrap;
    margin-bottom: 1vw;
    margin-left: -4vw;
}

.span_h2 {
    height: 3.75vw;
    font-weight: 500;
    font-size: 3.75vw;
    display: inline-block;
    margin-left: 1.5vw;
    margin-top: -1vw;
}

.list_no_marker li {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 2.2vw; */
    width: 40vw;
    margin-top: 1.25vw;

}

.li_text_up {
    /* margin-top: -2vw; */
    margin-left: 2.75vw;
    font-size: 2vw;
    /* margin-top: 3vw; */
}

li img {
    /* width: 4.7vw; */
    height: 4.7vw; 
}

#diablo_img {
    height: 3.75vw; 
    /* width: 4.vw; */
}

.price_table {
    display: inherit;
    
}

table, th, td {
    width: 100%;
    border: 0.33vw solid var(--table_border_color);
    border-collapse: collapse;
    text-align: center;
    font-size: 2vw;
    color: var(--news_date_color);
}

.price_table_table td {
    height: 7vw;
    width: 8%;
}


.black_bold_text, .table_first_col {
    font-weight: 600;
    color: var(--text_font_color);
}

.price_table {
    margin-top: 5vw;
    margin-bottom: 7vw;
}


.ul_orange_dot li {
    font-size: 1.5vw;
    font-weight: 300;
    color: var(--news_date_color);
    margin-left: 2vw;
  }

  .ul_orange_dot li::before {
    font-size: 2.75vw;
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--table_border_color); /* Change the color */
/* font-weight: bold; If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 0.75em; /* Also needed for space (tweak if needed) */
    /* margin-left: -1em; Also needed for space (tweak if needed) */
  }

  /* #news_last {
    height: 19vw;
} */

#news_last img {
    height: auto;
}

.news * {
    font-size: 75%;
}



.news {
    height: 17.1vw;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1vw var(--shadow_color);
    /* margin-top: 1.7vw; */
    /* margin-bottom: 1.7vw; */
    /* padding-top: 1.7vw;
    padding-bottom: 1.7vw; */
    margin-top: 1vw;

}

footer div {
    font-size: 2vw !important;
    font-weight: 300;
    color: var(--news_date_color);
    display: flex;
    flex-direction: row;
    margin: 0.5vw 5vw 0 2.5vw;
}

.p_smaller {
    font-size: 75% !important;
    font-weight: 300;
}

.alittle_upper {
    margin-top: -1vw;
}

.contacts img {
    height: 2vw;
    width: auto;
    /* margin: 0.5vw; */
    margin-right: 0.5vw;
    /* object-fit: contain; */

}

#mail_icon {
    width: 2vw;
    height: 1.5vw;
    margin-top: 0.75vw;
}

.string_left {
    color: #000;
    font-size: 2.75vw;
    font-weight: 900;
    width: 31vw;
}

.info {
    margin-left: -5vw;
}


.h2_container {

    height: 5.2vw;

    border-color: var(--selected_text_color);
    border-style: solid;
    border-width: 0px 0px 2px 12px;

}


.news p {
    font-size: 2.5vw;
}

.news img {
      width: 15.1vw;
      height: 15.1vw;
      margin: 1vw;
  }

.news_text {
      display: block;
      margin-top: -2vw;
      margin-left: 0.2vw;
      position: static;
}


}

@media screen and (min-width: 993px) {

    body {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        height: 163vw;
        display: flex;
        flex-direction: column;
        font-family: var(--the_font);
        /* justify-content: space-between; */
        /* font-family: 'Montserrat'; */
        /* overflow: hidden; */
    }
    
    header {
        display: block;
        height: 43vw;
        width: 100%;
        /* background-size:contain; */
    }
    
    .header-bg-image {
        position: absolute;
        /* height: 100%; */
        opacity: .8;
        z-index: -5;
        height: 39.3vw;
    }
    
    nav {
        /* width: 76vw; */
        display: flex;
        justify-content: space-between;
        margin-top: 1vw;
        margin-left: 24vw;
        margin-right: 3vw;
        /* margin-left: 3.5vw; */
        /* margin-right: 3.5vw; */
        /* flex-wrap: wrap; */
    }
    
    nav a {
        width: 11vw;
        font-size: 1.67vw;
        color: var(--text_font_color);
        text-align: center;
        font-weight: 300;
        /* margin-bottom: 3.5vw; */
    }
    
    .header_text,
    .header_nav {
        width: 99.9vw;
        position: absolute;
        z-index: 100;
    
    }
    
    .header_text {
        display: inline-block;
        width: 55.5vw;
        /* height: 500px; */
        margin-top: 6.67vw;
        margin-left: 40vw;
        /* margin-right: 3vw; */
        display: flex;
        justify-content: space-between;
        font-size: 2.6vw;
        font-weight: 100;
        
        /* text-align: center; */
        /* line-height: 1.33; */
    }

    .header_text * {
        color: black;
        letter-spacing: -0.05vw;
    }
    
    .learn_more {
        display: block;
        height: 3.18vw;
        margin-top: 28.65vw;
        margin-left: 37.7vw;
        width: 16.75vw;
        text-align: center;
        border-color: var(--selected_text_color);
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    font-size: 2.75vw;
    
    }
    
    .learn_more {
        margin-left: 40vw;
    }
    
    .learn_more a {
        display: block;
        height: auto;
        padding-top: 1vw;
        font-size: 1vw;
        color: var(--text_font_color);
    }
    
    footer {
        background-color: var(--footer_color);
        display: flex;
        flex-direction: ROW;
        height: 16vw;
        width: 100%;
        position: absolute;
        margin-top: 147vw;
        justify-content: space-between;
    }
    
    .main {
        display: flex;
        justify-content: space-between;
        height: 104vw;
    }
    
    main {
        margin-top: -1vw;
        width: 87.5vw;
        margin-left: 5vw;
        
    }
 
    .company_groups {
        display: flex;
        flex-direction: row;
    }
    
    .company_groups_group p {
        font-size: 1vw;
        line-height: 120%;
        width: 27vw;
        margin-right: 4vw;
    }
    
    .break_line_tag {
        height: 5vw;
    }
    
    #diablo_p {
        font-size: 1vw;
    }
    
    #diablo_p_2 {
        font-size: 1vw;
    }
    
    #diablo_p_3 {
        font-size: 1vw;
    }
    
    .green_span {
        font-size: 2vw;
    }
    
    .list_no_marker {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-weight: bold;
        /* margin-left: -5vw; */
        flex-wrap: wrap;
        /* margin-bottom: 1vw; */
        margin-left: -4vw;
    }
    
    .span_h2 {
        height: 1vw;
        font-weight: 500;
        font-size: 2.11vw;
        display: inline-block;
        margin-left: 0.75vw;
        margin-top: -0.33vw;
    }
    
    .list_no_marker li {
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
        width: 15vw;
        margin-top: 0.5vw;
    
    }
    
    .li_text_up {
        /* margin-top: -2vw; */
        margin-left: 2vw;
        font-size: 1.5vw;
        /* margin-top: 3vw; */
    }
    
    li img {
        /* width: 4.7vw; */
        height: 2.5vw; 
    }
    
    #diablo_img {
        height: 2vw; 
        /* width: 4.vw; */
    }
    
    .price_table {
        display: inherit;
        margin-top: 4vw;
        margin-bottom: 5vw;
        
    }

    .price_table p {
        font-size: 1vw;
    }
    
    table, th, td {
        width: 100%;
        border: 0.25vw solid var(--table_border_color);
        border-collapse: collapse;
        text-align: center;
        font-size: 1vw;
        color: var(--news_date_color);
    }
    
    .price_table_table td {
        height: 2.25vw;
        width: 8%;
    }
    
    
    .black_bold_text, .table_first_col {
        font-weight: 600;
        color: var(--text_font_color);
    }


    .ul_orange_dot {
        margin-bottom: 3vw;
    }
    
    
    .ul_orange_dot li {
        font-size: 1vw;
        font-weight: 300;
        color: var(--news_date_color);
        margin-left: 2vw;

      }
    
      .ul_orange_dot li::before {
        font-size: 1vw;
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: var(--table_border_color); /* Change the color */
    /* font-weight: bold; If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 0.75em; /* Also needed for space (tweak if needed) */
        /* margin-left: -1em; Also needed for space (tweak if needed) */
      }
    
      /* #news_last {
        height: 19vw;
    } */
    
    #news_last img {
        height: auto;
    }
    
    .news * {
        font-size: 50%;
        line-height: 0.5;
    }
    
    
    
    .news {
        height: 2vw;
        width: 30vw;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 1vw var(--shadow_color);
        /* margin-top: 1.7vw; */
        /* margin-bottom: 1.7vw; */
        /* padding-top: 1.7vw; */
        padding-bottom: 10vw;
        margin-top: 1vw;
    
    }
    
    footer div {
        font-size: 1.25vw !important;
        font-weight: 300;
        color: var(--news_date_color);
        display: flex;
        flex-direction: row;
        margin: 0.5vw 0vw 0 0vw;
        max-width: 25vw;
    }


.contacts_icons_col {
        flex-direction: column;
    }

    .contacts {
        margin-left: 2.5vw;
        width: 2vw;
        margin-right: 6vw;
    }
    
    .contacts_icons_col img {
        margin: 1vw 0 1vw 0;
    }

    .p_smaller {
        font-size: 50% !important;
        font-weight: 300;
        /* width: 7vw; */
    }
    
    .alittle_upper {
        margin-top: -1vw;
    }
    
    .contacts img {
        height: 2vw;
        width: 2vw;
        /* margin: 0.5vw; */
        margin-right: 0.5vw;
        /* object-fit: contain; */
    
    }
    
    #mail_icon {
        width: 2vw;
        height: 1.5vw;
        margin-top: 0.75vw;
    }
    
    .string_left {
        color: #000;
        font-size: 2.75vw;
        font-weight: 900;
        width: 11vw;
    }
    
    .info {
        width: 15vw;
        font-size: 0.75vw;
        /* margin-left: -5vw; */
    }

    
.h2_container {
    height: 2.81vw;
    border-color: var(--selected_text_color);
    border-style: solid;
    border-width: 0px 0px 2px 12px;
}


.news p {
    font-size: 2.5vw;
}

.news img {
      width: 7vw;
      height: 9vw;
      margin: 0.75vw;
  }

  /* #news_last p {
    width: 9vw;
  } */
  #news_last img {
      height: 9vw;
  }

.news_text {
      display: block;
      margin-top: -2vw;
      margin-left: 0.2vw;
      position: static;
}

.news_container {
    display: flex;
    flex-direction: row;
    margin-top: -1vw;
}

/* .break_line_last {
    font-size: 0.5vw;
    margin-top: 15vw;
} */

    
}



footer {
    background-color: var(--footer_color);
    /* color: white; */

}

.header_orange {
    color: var(--table_border_color);
    font-weight: normal;
}


/* footer img {
    width: 1.3vw;
    height: 1.3vw;

} */


p {
    /* font-weight: 300 !important; */
    color: var(--news_date_color);
}

a {
    text-decoration: none;
    color: var(--text_font_color);
}

.green_span {
    color: var(--selected_text_color);
    font-weight: bold;
    
}

.ul_orange_dot {
    font-weight: 300;
    list-style: none;
}

/* ul {
     /* Remove default bullets */
  /* } */
  






.news_date {
    color: var(--news_date_color);
}







.contacts {
    flex-direction: column;
}



b {
    color: #000;
}

/* } */