:root {
    --accent-blue: #079FD0;
    --main-bg-color: #C4C4C4AD;
    --footer-bg-color: #C4C4C433;
    --light-text: #FFFFFF;
    --dark-text: # 000000;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 215vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat';
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 200%;
}

footer a {
    font-size: 125%;
    margin: 0.75vw;
}

span {
    font-size: 150%;
}

.learn-block a {
    font-size: 125%;
    text-transform: uppercase;
    font-weight: bold;
}

.bolder {
    font-weight: bold;
}

.main {
    box-sizing: border-box;
    padding: 7vw;
    max-height: 66vw;
    max-width: 76vw;
    background-color: var(--main-bg-color);
}

.main img {
    max-height: 29vw;
    margin-top: 2vw;
    margin-left: -8vw;
}

.main-menu {
    height: 3vw;
}

nav {
    width: 75vw;
}

nav a {
    margin-left: 2vw;
}

footer {
    background-color: var(--footer-bg-color);
    height: 24vw;
}

img {
    max-width: 45.5vw;
}

.main-menu .logo {
    margin-top: -0.5vw;
}

.logo {
    max-width: 7.5vw;
}

.footer-part {
    margin-right: 0.5vw;
    margin-left: 3vh;
}

footer .logo {
    margin-left: -3.5vw;
    margin-right: 6vw;
    margin-top: 0.5vw;
}

h2, h3, .learn-block a {
    color: var(--accent-blue);
}

.order-button {
    width: 20vw;
    height: 5vw;
    display: flex;
    justify-content: flex-end;
}

.order-span {
      width: 15vw;
      height: 3vw;
      margin-top: -1vw;
      background-color: var(--accent-blue);
      color: var(--light-text);  
      border-radius: 1vw;  
      border-color: var(--accent-blue);
      box-shadow: 0 0 1vw var(--accent-blue);
}

.main-menu *, #main-h2 {
    text-transform: uppercase;
}

.main-menu a {
    display: block;
    font-size: 75%;
    font-weight: bold;
}

#main-h1 {
    font-size: 20vw;
    display: inline-block;
    font-weight: lighter;
    margin-top: -4vw;
    max-height: 3vw;
    letter-spacing: -0.05em;
}

#main-h2 {
    display: block;
    width: 50vw;
    font-size: 250%;
    color: var(--light-text);
    font-weight: lighter;
    letter-spacing: 0.3vw;
}

#main-span {
    color: var(--light-text);
    max-width: auto;
    font-weight: 300;
    font-weight: lighter;
}

a {
    color: var(--dark-text);
    text-decoration: none;
}

.middle .learn-text {
    margin-top: -1.5vh;
    max-width: 30.5vw;
}

.learn-text a {
    display: block;
    margin-top: 3vw;
}
.middle span {
    display: block;
    padding-top: 3vw;
}

span {
    display: block;
    max-width: 50vw;
}

.span-width {
    display: block;
    letter-spacing: -0.1vw;
    width: 20vw;
    font-size: 133%;
}

nav, .main,.middle .learn-block{
    display: flex;
    flex-direction: row;
}

header, .main-menu, .main, #first-by-id, #second-by-id, .learn-add, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first-by-id {
    flex-direction: row-reverse;
    padding-bottom: 7.5vw;
}

#first-by-id .learn-text {
    margin-left: -7vw;
}

.middle h2 {
    display: block;
}

#first-by-id h2 {
    margin-left: -7vw;
}
#first-by-id .learn-more {
    margin-left: -7vw;
}

#second-by-id .learn-text {
    margin-left: 4vw;
}

#second-by-id h2 {
    margin-left: 4vw;
}

#second-by-id .learn-more {
    margin-left: 4vw;
}

footer, header {
    justify-content: space-between;
}

.flex-column, footer div {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

.learn-add img {
    max-width: 28vw;
}
.learn-add .learn-text {
    max-width: 24vw;
}

.learn-add .learn-block{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

header, .content {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

.header-text-center {
    display: block;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

footer .learn-more {
    margin-top: 10vw ;
}

#last-by-id {
    margin-top: 2.5vh;
}