/* 

write your code here

*/

@media screen {

    p {
        font-weight: 300;
    }
    
    .tm-sidebar, #home, #main, #about, #we-are, #our-work, #ideas, #forms {
        box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
    }
    
    .tm-nav-item a:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .section-title, .color-blue {
        color: lightskyblue;
    }
        
    .flex-2-col {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .section-title {
        font-weight: bold;
    }
    
    #flex-item-one {
        display: flex;
        flex-direction: column;
        align-self: start;
        flex: 0 1 50%;
    }
    
    #epamers-image-67 {
        height: 100%;
        width: 100%;
    }
    
    #flex-item-two {
        flex: 0 1 100%;
        margin-top: 0px;
        padding-top: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
         
    p.first-letter-double::first-letter {
        font-size: 200%;
    }

    section:not([id="forms"])::before{
        content: "";
        display: block;
        margin-top: 0px;
        margin-left: 0px;
        border-top: 35px solid rgb(0, 195, 217);
        border-right: 250px solid transparent;
    }

    .tm-banner-inner {
        background-color: #fff;
        border: solid rgb(219,219,219) 1px;
    }
      
    #home {
        background-color: #f5f5f5;
    }
    
    .spacing-gainsboro {
        color: gainsboro;
        letter-spacing: 5px;
    }
    
    .tm-box-bg-title:hover {
        background-color: lightblue;
        font-weight: bold;
        color: white;
    }
    
    #we-are {
        text-align: center;
        text-transform: capitalize;
    }
   
    #we-are-pro-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #we-are-pro-list li {
        margin: 0px 20px 0px 20px;
    }
    
    #we-are-pro-list li:visited {
        text-decoration: underline;
    }
    
    #our-work p:first-of-type {
        font-style: italic;
    }
    
    #our-work p:nth-of-type(2) {
        font-weight: bold;
    }
    
    section#our-work h2 {
        margin-top: 15px;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    section#our-work li {
        padding: 15px;
    }
    
    .box {
        display: flex;
        flex-direction: column;
    }
    
    section#our-work a {
        margin-top: auto;
        font-weight: 300 !important;
    }
    
    #our-work {
        background-color: white;
    }
    
    #contact_email:after {
        content: " *";
        color: red;
    }
    
    .required::after {
        content: " *";
        font-size: 16px;
        color: red;
        font-weight: bold;
    }
    
    #submit-button {
        display: block;
        width: 194px;
        height: 66px;
        background-color: white;
        color: lightblue;
        border-radius: 0%;
        border-color: lightblue;
        float: right;
        font-size: 1.4rem;
    }
    
    #submit-button:hover {
        background-color: lightblue;
        color: white;
    }
    
    .tm-sidebar {
        z-index: 20;
    }
    
}


@media print {
    #about, #we-are, #our-work, #ideas, #forms, .tm-sidebar * {
        visibility: hidden;
        display: none;
    }

    body {
        overflow: hidden;
    }

    body * {
        padding: 0px;
        margin: 0px;
    }

    .padding-medium * {
        margin: 0% !important;
    }
    
    .padding-medium *, #home, #main {
        margin: 0em;
        padding: 0px !important;
        position: relative;
    }

    p.first-letter-double::first-letter {
        font-size: 200%;
    }

    .tm-section-title {
        line-height: 1.5rem;
        padding-bottom: 3rem;
        color: blue;
    }

    .tm-team-description-container {
        max-width: 90%;
        margin: auto;
    }

    .tm-footer p {
        padding-top: 1.5rem;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    h2 {
        display: block;
        margin: 3rem auto 3rem auto;
    }

    .tm-main-content {
        margin-top: -75px;
    }

    #main {
        width: 100%;
        margin-top: -30px;
        text-align: center;
    }

    .padding-medium * {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    p {
        display: block;
        width: 80%;
        text-align: center;
    }

    img {
        width: 100%;
        margin-top: -1rem;
    }

}
