// • All required rules and mixins should be written in _main.scss and variables should be defined in _variables1.scss and _variables2.scss files
// • Do not change files scss/style1.scss and scss/style2.scss. They already import all necessary partials
// • scss file should use a nesting syntax
// • you should use mixin for card image
// • use at least one @extend rule
// • use at least one map
// • index.html by default should use style1.css for styling
// • All markup you should write by yourself (responsive design isn’t required)
// • No requirements for browser support (should correctly work in last version of Google Chrome)
@mixin reset-styles {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
  }
  
// @mixin horizontal-list {
//     @include reset-list;
  
@mixin to-centered-block {
    display: block;
    width: 100%;
    text-align: center;
}

body {

    @include reset-styles;
    background: $contentBackground;
    
    height: 167.7vw;

}

// main {
//     margin: 0 auto;
//     width: 960px;
// }

h1 {
    @include to-centered-block;
    font-family: 'Source Sans Pro', sans-serif !important;
    // font-family: 'Hind', sans-serif !important;
    // font-family: 'Fresca', sans-serif;
    font-weight: 300 !important;
    font-size: 4rem !important;
    opacity: 0.8;

}

.content-item {

    margin-left: 16vw;
    margin-top: 3rem;

    :last-child {
        padding-bottom: 0px;
    }

    :first-child {
        .content-img {
            background-image: url($tour-preview-img1);
            height: 20vw;
        }
    }

    :nth-child(2) {
        .content-img {
            height: 15vw;
            background-image: url($tour-preview-img2);
        }
    }
    
    :last-child {
        .content-img {
            height: 20vw;
            background-image: url($tour-preview-img3);
        }
    }
    
    :nth-child(2) {
        height: 15vw;
    }

    li {
        // display: block;
        
        height: 20vw;
        width: 75%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        // vertical-align: middle;
        // margin: 1rem;
        // margin-bottom: 3rem;
        
        box-shadow: 0px 0px 1rem gray;
        .content-img {
            width: 15vw;
            
            background-size: cover;
            // background-position: center;
        }


        p {
            margin: 1rem;
            font-size: 2rem;
            width: 68%;
            span {

                font-size: 3rem;
                // line-height: 150%;
                font-family: 'Source Sans Pro', sans-serif;

            }
        }
    }
}

.content {
    height: 68.5vw;
    
    // display: flex;
    // .content-img {
    //     width: 25vw;
    //     height: 25vw;
    // }
}

.header {

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        // @extend h1;
        display: block;
        display: flex;
        align-items: center;
        // height: 33vh;
        
        // vertical-align: middle;
        width: 50%;
        // font-size: 200%; 
        text-align: center;
        // margin-left: 25%;
        // margin-top: 15%;
        // margin-top: 18%;
        // margin-left: 25%;
        color: $header-text-color;
        letter-spacing: 0.1vw;
        
    }

    ul {
        width: 75%;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        color: $header-nav-color;

        // padding-bottom: 13%;
        padding-top: 1rem;
        
        li {
            display: flex;
            align-items: center;
            text-align: center;
            width: 3rem;
            margin: 1rem;
            a {
                text-decoration: none;
                color: $header-nav-color;
            }
        }
    }
    width: 100%;
    background-image: url($header-bg-img-path);
    background-size: 100% auto;
    height: 50vw;
    
    border-radius: 0px 75% 75% 0px;
}

.header-lorem {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    // vertical-align: middle;
    // h1 {
    //     display: block;
    //     width: 40vw;
        // margin-top: 10%;
        // margin-left: 20%;
        // bottom: 50%;
    //     // right: 50%;
    // }
}

.header-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

.learn-more {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    width: 7rem;
    height: 2.5rem;
    border: solid white 1px;
    // color: white;
    a {
        display: block;
        margin-top: 0.7rem;
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
}

// .find-yours {
//     width: 25%;
//     height: 10rem;
//     background-color: cornflowerblue;
// }
@mixin block-view {
    display: block;
    width: 100%;
    // height: 10%;
}


.button-inner {
    // margin-top: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    // @extend .learn-more;
    @include to-centered-block;
    @include block-view;
    // height: 7vh;

}

#find-yours {

    margin-left: 25%;
    margin-top: -7vh;
    width: 50%;
    height: 25vh;
    background-color: $search-pad-bg;
    color: whitesmoke;
    font-size: 3rem;

    h3 {
        @include block-view;
        position: relative;
        margin-top: 5rem;
        padding-top: 1rem;
        
    }


}

#search-line {
    display: flex;
    justify-content: space-around;
    input {
        background-color: transparent;
        // background-color: $search-pad-bg;
    }
    
}


// #search-bar


.your-reviews {
    position: relative;
    height: 25vh;
    margin-left: 20vh;
    @include to-centered-block;
    @include block-view;
    display: flex;
    justify-content: center;
    .review-pad {
        width: 82%;
        background-color: $your-reviews-bg;
    }
    .reviews {
        display: flex;
        flex-direction: row;

        img {
            width: 7vw;
            height: 7vw;
        }
        // height: 15vh;
        // width: 100%;
        .review {
            display: flex;
            flex-direction: row;
        //     width: 20vh;
        //     height: 20vh;
        //     // background-image: url('.\img\man.jpg')
            
        }
    }
    
}

footer {
    @include block-view;
    height: 20vh;
    font-size: 2vh;
    color: white;
    background-color: $footer-bg;
    position: fixed;
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    margin-left: 0;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100vw;

    :first-child {
        width: 33%;
    }
    :nth-child(2) {
        width: 25%;
    }
    :nth-child(3) {
        width: 15%;
    }
    :last-child {
        width: 27%;
    }

    ul {
        list-style: none;
        margin-top: 0rem;
        li {
            a{
                font-size: 0.75rem;
            text-decoration: none;
            }
        }
    }

    h5 {
        margin-top: 0.5rem;
        color: $footer-h5;
    }

}

// .follow-us {
//     width: 100%;
//     h5 {
//         display: block;
//         width: 100%;
//     }
// }

.icon-links {
    width: 100%;
    // height: 50%;
    

    z-index: 15;
    
        display: flex;
        flex-direction: row;
        margin-left: -2em;
        
        li {
            display: block;
            margin: -0.5em 1em 0 0;
            height: 2vw;
            width: 2vw;
            
            img {
                
                height: 2vw;
                width: 2vw;
                // border-radius: 50%;
                // content: icon;
            }

}

}

#copy-right {
    font-size: 1em;
    width: 30vw;
}

.footer-first {
    margin-left: 1rem;
}

.were-to-go-list,.info-list {
    margin-top: -1rem;
    margin-left: -2rem;
    // li{
    //     a {
    //     font-size: 0.5em;
    //     }
    // }
}