// • All required rules and mixins should be written in _main.scss and variables should be defined in _variables1.scss and _variables2.scss files
// • Do not change files scss/style1.scss and scss/style2.scss. They already import all necessary partials
// • scss file should use a nesting syntax
// • you should use mixin for card image
// • use at least one @extend rule
// • use at least one map
// • index.html by default should use style1.css for styling
// • All markup you should write by yourself (responsive design isn’t required)
// • No requirements for browser support (should correctly work in last version of Google Chrome)
$contentBackground: white;

$header-bg-img-path: '../img/4.jpg';

$tour-preview-img1: '../img/5.jpeg';
$tour-preview-img2: '../img/6.jpg';
$tour-preview-img3: '../img/7.jpg';

$header-nav-color: rgb(78,40,70);

$header-text-color: white;

$search-pad-bg: rgb(159, 134, 162);

$your-reviews-bg: rgb(141, 111, 121);

$footer-bg: rgb(93,61,133);

$footer-h5: rgb(185,101,243);